<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="assets/style.css" type="text/css" rel="stylesheet" />
</head>
<body>


{{#users}}
    <div class="user-thumbnail">
        
        <img class="user-image" src="{{avatar}}"></img>

        <div class="user-info">
            
            <h3 class="user-name">{{name}}</h1><br><br>

            <p class="user-occupation">{{job}}, {{company}}</p>


        </div>
    </div>
{{/users}}
</body>
</html>