
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 18px;
}

h3, p {
    margin: 0;
    padding: 0;
}


.user-info {
    text-align: center;
}



.user-thumbnail {
    height: 300px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #E9E9E9;
    margin-bottom: 30px;
}

.user-image {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid #E9E9E9;
}

.user-name {
    color: #1A69D1;
}

.user-occupation {
    color: #728287;
}

